<br/>
<table>
    <tr>
        <th>
          <div align="left">
            <%= form_tag(peptides_path(), :method => "get") do  %>
                <%= label_tag(:cutoff, "Filter peptides by cutoff:") %>
                <% cutoffs_array = [
                                    ["0.05",12],
                                    ["0.5",0.5]
                                   ] %>
                <%= select_tag(:cutoff, options_for_select(cutoffs_array, :selected => params[:cutoff]), :include_blank => true, :onchange => 'this.form.submit();') %>
                <%= submit_tag('filter') %>
            <% end%>
          </div>
        </th>
    </tr>

    <tr>
        <th>Peptide</th>
        <th>Rank Product</th>
        <th>Penalized Rank Product</th>
    </tr>

    <!-- :order => cutoff -->
    <% @peptides.each do |peptide| %>
       
        <tr>
            <td><%= link_to(peptide.pep_seq, peptide_path(peptide)) %></td>
            <td><%= peptide.rank_product %></td>
            <td><%= peptide.penalized_rp %></td>
        </tr>
       
    <% end %>
</table>

<div class="digg_pagination">
  <div clas="page_info">
    <%= page_entries_info @posts %>
  </div>
  <%= will_paginate @posts, :container => false %>
</div>
