<br/>
<table>
    <tr>
        <th>
          <div align="left">
            <%= form_for(:peptides, :action => :index, :method => "get") do  %>
                <%= label_tag(:cutoff, "Rank Product Threshold:") %>
                <%= select_tag(:cutoff, options_for_select([
                        ["0.05",0.05],
                        ["0.5",0.5],
                        ["10.0",10.0]])) %>
                <%= submit_tag("filter") %>
            <% end%>
          </div>
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    <tr>
        <th>Peptide</th>
        <th>Rank Product</th>
        <th>Penalized Rank Product</th>
    </tr>

    <% @peptides.each do |peptide| %>
    <tr>
        <td><%= link_to(peptide.pep_seq, peptide_path(peptide)) %></td>
        <td><%= peptide.rank_product %></td>
        <td><%= peptide.penalized_rp %></td>
    </tr>
    <% end %>
</table>

<div class="digg_pagination">
  <div clas="page_info">
    <%= page_entries_info @posts %>
  </div>
  <%= will_paginate @posts, :container => false %>
 </div>
