<p id="notice"><%= notice %></p>

<table>
	<tr>
		<td><b>Peptide:</b>  <%= @peptide.pep_seq %></td>
	</tr>
	<tr>
		<td><b>Rank product:</b>  <%= @peptide.rank_product %></td>
	</tr>
	<tr>
		<td><b>Penalized Rank Product:</b>  <%= @peptide.penalized_rp %></td>
	</tr>
	<tr>
		<td><b>Experiment:</b>  <%= @peptide.experiment %></td>
	</tr>
	<tr>
		<td><b>Cutoff for peptide expectancy:</b>  
			<% if @peptide.cutoff == 10 %> none 
			<% else %>
				<%= @peptide.cutoff %>
			<% end %>
		</td>
	</tr>
	<tr>
		<td><br/><hr><br/></td>
	</tr>
</table>
<h2>Peptide Spectrum matches:</h2>
<br/><br/>
<table>
	<% @peptide.psms.each do |psm| %>
	<tr id='bold_headers'>
		<td>Query</td>
		<td>Accession No</td>
		<td>Genename</td>
		<td>Score</td>
		<td>Expectancy</td>
		<td>Replicate</td>
		<td>Modification</td>
		<td>Title</td>
	</tr>
	<tr>
		<td><%= psm.query %></td>
		<td><%= link_to psm.protein.accno, protein_path(psm.protein, :psm_id => psm.id) %></td>
		<td><%= psm.protein.genename %></td>
		<td><%= psm.pep_score %></td>
		<td><%= psm.cutoff %></td>
		<td><%= psm.rep.split('.')[0] %></td>
		<td><%= psm.mod %>(<%= psm.mod_positions %>)</td>
		<td><%= psm.title %></td>
	</tr>

	<tr>
		<td colspan = 11 height = 20></td>
	</tr>

	<tr id='bold_headers'>
		<td colspan = 6>Spectra</td>
		<td colspan = 5>Assigned y-ions table</td>
	</tr>

	<tr>
		<td colspan=6>
			<a href="http://nemesis.itmat.upenn.edu/aspirin/figures/<%= psm.plot_assigned_yions %>" target="_blank" ><img src="<%= "../figures/" + psm.plot_assigned_yions %>" border=no/></a>
		</td>
		<td colspan=5 valign='top'>
			<table>
				<tr id='bold_headers'>
					<td>m/z</td>
					<td>intensity</td>
					<td>index</td>
				</tr>
				<% arr = psm.assigned_yions_array.transpose %>
				<% arr0 = arr[0] %>
				<% arr1 = arr[1] %>
				<% arr2 = arr[2] %>

				<% for i in 0..arr0.length-1 %>
					<tr>
						<td> 
							<%= arr0[i] %>
						</td>
						<td> 
							<%= arr1[i] %>
						</td>
						<td> 
							<%= arr2[i] %>
						</td>
					</tr>
				<% end %>
			</table> 
		</td>
	</tr>
	<tr>
		<td colspan = 11><br/><hr><br/></td>
	</tr>
	<% end %>
</table>
<br/><br/>



