<p id="notice"><%= notice %></p>

<table>
	<tr>
		<td><b>Peptide:</b>  <%= @peptide.pep_seq %></td>
	</tr>
	<tr>
		<td><b>Rank product:</b>  <%= @peptide.rank_product %></td>
	</tr>
	<tr>
		<td><b>Penalized Rank Product:</b>  <%= @peptide.penalized_rp %></td>
	</tr>
</table>
<br/><br/>
<table>
	<tr style="font-weight:bold">
		<td>Protein accession number</td>
		<td>Genename</td>
		<td>Peptide score</td>
		<td>Cutoff</td>
		<td>Query</td>
		<td>Replicate</td>
		<td>Modification</td>
		<td>Modified Positions</td>
		<td>Title</td>
		<td>Charge</td>
		<td>RT in seconds</td>
	</tr>
	<% @peptide.psms.each do |psm| %>
	<tr>
		<td><%= psm.accno %></td>
		<td><%= psm.genename %></td>
		<td><%= psm.pep_score %></td>
		<td><%= psm.cutoff %></td>
		<td><%= psm.query %></td>
		<td><%= psm.rep.split('.')[0] %></td>
		<td><%= psm.mod %></td>
		<td><%= psm.mod_positions %></td>
		<td><%= psm.title %></td>
		<td><%= psm.charge %></td>
		<td><%= psm.rtinseconds %></td>
	</tr>

	<tr>
		<td colspan = 11>
			<img src="<%= psm.plot_assigned_yions %>" />
		</td>
	</tr>
	<% end %>
</table>
<br/><br/>



