<p id="notice"><%= notice %></p>

<p>
  <b>Peptide:</b>
  <%= @psm.pep_seq %>
</p>

<p>
  <b>Peptide modification:</b>
  <%= @psm.mod %> (<%= @psm.mod_positions %>)
</p>

<br/> 

<p>
  <b>Protein accession number:</b>
  <%= @protein.accno %>
</p>

<p>
  <b>Protein description:</b>
  <%= @protein.desc %>
</p>

<p>
  <b>Species:</b>
  <%= @protein.species %>
</p>

<p>
  <b>Genename:</b>
  <%= @protein.genename %>
</p>

<p>
	<b>Sequence:</b></br>
	<div id = 'protein_seq_wrapper'>
		<%= highlight_seq(@protein.seq, @psm.pep_seq, @psm.mod_positions) %></br>
	</div>
</p>


