<p id="notice"><%= notice %></p>

<p>
  <b>Peptide:</b>
  <%= pep = params[:annotate_psm] %>
</p>

<p>
  <b>Peptide modification:</b>
  <%= mod = params[:annotate_mod] %> 
  ( <%= mod_positions = params[:annotate_mod_positions] %> )
</p>

<br/> 

<p>
  <b>Protein accession number:</b>
  <%= @protein.accno %>
</p>

<p>
  <b>Protein description:</b>
  <%= @protein.desc %>
</p>

<p>
  <b>Species:</b>
  <%= @protein.species %>
</p>

<p>
	<b>Sequence: (<%= @protein.seq.length %>)</b></br>
	<font face="courier" size=3>
		<% seq_to_fasta_array(@protein.seq, pep).each do |seq| %>
			<%= seq %></br>
		<% end %>
	</font>
</p>

