<!DOCTYPE html>
<html>
<head>
  <title><%= @pagetitle || "Aspirin" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id='pagewrapper'>
		<div id='header'>
			<p align = 'center'>Aspirin Data Analysis</p>
		</div>
		<div id='navbar'>
		<ul>
			<li><%= link_to 'Home', root_path %></li>
			<li><%= link_to 'Help', view_page_path('help') %></li>
			<li><%= link_to 'About', url_for('about') %></li>
		</ul>
		<div>
	</div>
	<div id='content'>
		<%= yield %>
	</div>
	<div id='footer'>
		<p>ITMAT @2012</p>
	</div>

</body>
</html>